body {
	background-color: black;
}

h1 {
	color: white;
}

.banner {
	border: 0;
	padding: 0;
	width: 100%;
}

.left {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

.right {
	border: 0;
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
	top: 50%;
}
